/* CSS Document
Project Name: AntPod Website
Version:  1.0
Author Name: Soumya Shaw

*****=====***** TABLE OF CONTENT *****=====*****

01. GENERAL CSS
        => Scrollbar CSS
        => General CSS
02. Pre Loader CSS
03. Navigation Bar CSS
04. Home CSS
05. Technology CSS
06. About Us CSS
07. Team CSS
08. Contact Us CSS
09. Footer CSS
*/

/*----------------------
    01. General CSS
----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    background-color: white;
    position: relative;
}
/*Scroll Bar*/
::-webkit-scrollbar {
    display: none;
}
/* Common CSS */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    color: #111111;
    line-height: 1.2;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    letter-spacing: 0;
}
h4 {
    font-size: 16px;
}
a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a:focus,
a:hover {
    outline: none;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.heading {
    text-align: center;
    font-size: 40px;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 30px;
}

/*-------------------------------
    03. Navigation Bar CSS
-------------------------------*/
.top-nav {
    background-color: #000000;
    height: 30px; 
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 100;
    z-index: 1005;
}
.logo {
    background-color: #DD0000;
    display: flex;
    margin: auto;
    position: fixed;
    height: 80px;
    width: 100%;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    z-index: 1000;
    padding: 10px 0;
}
.चलोGermany-logo {
    width: 225px;
    height: auto;
    padding: 5px;
    position: relative;
    top: 25px;
    margin-left: 20px;
}
.menu {
    position: absolute;
    right: 1em;
    top: 6px;
}
.link {
    float: left;
    list-style-type: none;
}
.link a {
    display: block;
    position: relative;
    top: 25px;
    font-size: 20px;
    color: #ffce00;
    text-align: center;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    transition: all 0.5s;
}
.link a:hover {
    color: white;
}
nav#dot-nav {
    position: fixed;
    right: 30px;
    margin: auto;
}
nav#dot-nav a {
    background: #00BB31;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    display: block;
    margin: 10px;
    -webkit-transition: all 0.4;
    transition: all 0.4; }
nav#dot-nav a.active {
    background: #1D262E;
    width: 9px;
    height: 9px;
}
/*--------------------------------
      04. Home CSS
----------------------------------*/
.home {
    height: 100vh;
    position: relative;
    overflow: hidden;
}
li {
    list-style-type: none;
}
.cb-slideshow,
.cb-slideshow:after { 
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    filter: brightness(40%);
    animation: imageAnimation 54s linear infinite 0s; 
}
.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 54s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-family: 'Young Serif', serif;
    font-size: 120px;
    padding: 0;
    line-height: 200px;
    color: #fff;
    
}
.cb-slideshow li:nth-child(1) span { 
    background-image: url(../img/bg/img1.jpg);
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(../img/bg/img2.jpg);
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(../img/bg/img3.jpg);
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(../img/bg/img4.jpg);
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(../img/bg/img5.jpg);
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(../img/bg/img6.jpg);
    animation-delay: 30s; 
}
.cb-slideshow li:nth-child(7) span { 
    background-image: url(../img/bg/img7.jpg);
    animation-delay: 36s; 
}
.cb-slideshow li:nth-child(8) span { 
    background-image: url(../img/bg/img8.jpg);
    animation-delay: 42s; 
}
.cb-slideshow li:nth-child(9) span { 
    background-image: url(../img/bg/img9.jpg);
    animation-delay: 48s; 
}

.cb-slideshow li:nth-child(2) div { 
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) div { 
    animation-delay: 30s; 
}
.cb-slideshow li:nth-child(7) div { 
    animation-delay: 3s6; 
}
.cb-slideshow li:nth-child(8) div { 
    animation-delay: 42s; 
}
.cb-slideshow li:nth-child(9) div { 
    animation-delay: 48s; 
}
@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	5% {
	    opacity: 1;
	    transform: scale(1.05);
	    animation-timing-function: ease-out;
	}
	11% {
	    opacity: 1;
	    transform: scale(1.1);
	}
	16% {
	    opacity: 0;
	    transform: scale(1.15);
	}
	100% { 
        opacity: 0;
        transform: scale(1.20);
    }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    5% { opacity: 1 }
    11% { opacity: 1 }
    16% { opacity: 0 }
    100% { opacity: 0 }
}
@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
}





















.home-area {
    background-image: url("../img/bg/home-med.jpg");
    height: 630px;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-content {
    position: relative;
    top: 400px;
    left: 40px;
    background: #1D262E;
    color: white;
    width: 37%;
    height: auto;
    padding: 20px;
    font-size: 16px;
    border-radius: 8px;
    text-align: justify;
}
.know-more a{
    color: #00BB31;
}
.know-more a:hover {
    color: white;
}

/*--------------------------------
     05. Technology CSS
----------------------------------*/
.tech-bounding {
    display: flex;
}
.tech-left-1 {
    flex: 60%;
}
.tech-right-1 {
    flex:40%;
}
.tech-right-1-mobile {
    display: none;
}
.tech-row-1 {
    display: flex;
    padding: 15px;
}
.tech-icon {
    flex: 30%;
}
.tech-icon-mobile {
    display: none;
}
.tech-icon-2 {
    flex: 20%;
    position: relative;
    left: 150px;
}
.tech-row {
    flex: 70%;
    text-align: right;
    position: relative;
    top: 2.25em;
    right: 60px;
}
.tech-row-2 {
    flex: 70%;
    position: relative;
    top: 2.25em;
    margin-left: 170px;
}
.tech-icon-inner {
    width: 90px;
    height: 90px;
    border: 1px solid black;
    border-radius: 50%;
}
.tech-head {
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 3em;
    left: -3em;
    font-weight: lighter;
    line-height: 1.5;
    color: #00BB31;
}
.tech-head-2 {
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 3.75em;
    left: 2em;
    font-weight: lighter;
    line-height: 1.5;
    color: #00BB31;
}
.tech-gap {
    height: 50px;
}
.dashed-border-1-1 {
    width: 350px;
    margin: auto;
    transform: rotate(90deg);
    border: 1px dashed #00BB31;
    position: relative;
    top: -180px;
    left: 20px;
}
.dashed-border-1-2 {
    width: 80px;
    margin: auto;
    border: 1px dashed #00BB31;
    position: relative;
    top: -180px;
    left: 62px;
}
.dashed-border-1-3 {
    width: 40px;
    margin: auto;
    border: 1px dashed #00BB31;
    position: relative;
    top: -9px;
}
.dashed-border-1-4 {
    width: 40px;
    margin: auto;
    border: 1px dashed #00BB31;
    position: relative;
    top: -361px;
}

.dashed-border-2-1 {
    width: 350px;
    margin: auto;
    transform: rotate(90deg);
    border: 1px dashed #00BB31;
    position: relative;
    top: -180px;
    left: -20px;
}
.dashed-border-2-2 {
    width: 80px;
    margin: auto;
    border: 1px dashed #00BB31;
    position: relative;
    top: -180px;
    left: -62px;
}
.dashed-border-2-3 {
    width: 40px;
    margin: auto;
    border: 1px dashed #00BB31;
    position: relative;
    top: -9px;
}
.dashed-border-2-4 {
    width: 40px;
    margin: auto;
    border: 1px dashed #00BB31;
    position: relative;
    top: -361px;
}

/*--------------------------------
      06. About Us CSS Start
----------------------------------*/
.about-us {
    padding: 25px;
    padding-top: 0px;
    padding-bottom: 50px;
    text-align: justify;
    color: #1D262E;
    margin: 20px;
    margin-top: 0px;
}
#about-us-heading {
    padding-bottom: 0px;
    margin-bottom: 30px;
}
.about-bounding {
    display: flex;
}
.about-left {
    flex: 43%;
    margin-top: -20px;
}
.about-right {
    flex:57%;
    margin-top: 50px;
}
.venn {
    width: 60%;
    position: relative;
    left: 200px;
}
.principles {
    width: 90%;
}
.about-text {
    width: 75%;
    padding-top: 0px;
    position: relative;
    font-size: 18px;
    top: 30px;
}
.principles-text {
    font-size: 25px;
}
.about-text-green {
    color: #00BB31;
    margin-bottom: 25px;
}
.about-bottom {
    margin-top: 20px;
    height: 70px;
}
.road {
    width: 100%;
    margin-top: 0px;
    text-align: center;
}
.animation-tree {
    width: 20%;
    margin-top: 20px;
    position: relative;
    top: -402px;
    left: 45%;
}
.road-ahead {
    flex: 100%;
    position: relative;
    top: 20px;
    font-size: 25px;
}
.tree {
    width: 5em;
    height: 50em;
    font-size: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
}

.arrow {
    position: absolute;
    width: 0.2em;
    height: inherit;
    background-color: black;
    border-radius: 25%;
    transform-origin: bottom;
    text-align: center;
}

.node {
    position: absolute;
    width: inherit;
    height: 80%;
    display: flex;
    flex-direction: column-reverse;
}

.node .leaf {
    width: 2.5em;
    height: 2.5em;
    background-color: #00BB31;
}

.node .no-leaf {
    width: 5em;
    height: 15em;
    font-size: 15px;
    text-align: center;
    line-height: 18px;
}

.node .circle-top {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid;
    background: #00BB31;
    transform-origin: center;
    position: relative;
    top: 30px;
    left: 75px;
}
.node .circle-bottom {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid;
    background: #00BB31;
    transform-origin: center;
    position: relative;
    top: 30px;
    left: 15px;
}
.node .leaf:nth-child(odd) {
    align-self: flex-start;
    border-top-right-radius: 3em;
    border-bottom-left-radius: 3em;
    transform-origin: right bottom;
}

.node .no-leaf:nth-child(odd) {
    align-self: flex-start;
    transform-origin: left bottom;
    position: relative;
    left: 30px;
    top: 10px;
}
.node .no-leaf:nth-child(even) {
    align-self: flex-end;
    transform-origin: right bottom;
    position: relative;
    left: -55px;
    top: 10px;
}
.node .direction:nth-child(odd) {
    align-self: flex-start;
    transform-origin: center;
    position: relative;
    left: -25px;
}
.tree-text {
    transform: rotate(-90deg);
    width: 100px;
    position: relative;
    left: 10px;
}
.tree-text-2 {
    transform: rotate(-90deg);
    width: 100px;
    position: relative;
    left: -10px;
}
.circle-bottom-2 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid;
    background: #00BB31;
    transform-origin: center;
    position: relative;
    top: 40px;
    left: 45px;
}
.tree-text-3 {
    transform: rotate(-90deg);
    width: 100px;
    position: relative;
    left: 30px;
    top: 20px;
    font-size: 15px;
    text-align: center;
    line-height: 18px;
}
.arrow-top{
    position: relative;
    width: 0.15em;
    height: 20px;
    top: -137px;
    left: 69px;
    transform: rotate(30deg);
    background-color:black;
    border-radius: 25%;
}
.arrow-bottom {
    position: relative;
    width: 0.15em;
    height: 20px;
    top: -157px;
    left: 78px;
    transform: rotate(-30deg);
    background-color: black;
    border-radius: 25%;
}

/*--------------------------------
       07. Team CSS Start
----------------------------------*/
.team-area {
    height: auto;
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.team-bounding {
    display: flex;
}
#the-team {
    font-size: 25px;
}
.founder {
    flex: 33%;
    position: relative;
    top: 5em;
}
#founder-name {
    font-size: 18px;
}
.team-mates {
    flex:66%;
    display: flex;
    z-index: 100;
}
.row-1 {
    flex: 1;
}
.row-2 {
    flex: 1;
}
.team-box {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
}
.team-box-2 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: auto;
}
.team-info {
    padding: 20px;
    text-align: center;
}
.team-pic {
    border-radius: 50%;
    padding: 10px;
    transition: transform 0.5s;
}
.team-pic:hover {
    transform: scale(1.1);
}
.pic {
    border: 2px solid #00BB31;
    border-radius: 50%;
}
#suhas-break {
    display: none;
}

/*--------------------------------
     08. Contact Us CSS Start
----------------------------------*/
.contact-us-area {
    padding: 20px;
}
#contact-us-heading {
    margin-top: 0px;
    margin-bottom: 0px;
}
.form {
    border-radius: 15px;
}
.form-control {
    margin-left: 20px;
}
.form-group {
    display: flex;
}
iframe {
    border-radius: 15px;
    border: 1px solid;
    max-width: 900px;
    width: 100%;
    height: 300px;
}
.outer-contact {
    display: flex;
    width: 100%;
}
.inner-contact {
    flex: 1;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.write {
    padding: 20px;
    margin-top: 30px;
    font-size: 25px;
    width: 300px;
    margin: auto;
    padding-right: 0px;
}
.mail {
    font-size: 20px;
    padding-top: 10px;
    text-align: left;
    position: relative;
    left: -13px;
    width: 100%;
}
#phone {
    margin-left: 3px;
}
/* Form CSS */
#inner-contact-left {
    border-right: 2px solid #00BB31;
}
#description {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 15px;
    color: black;
    background: lightgray;
}
#description:focus {
    border-color: #1D262E;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    transition: border-color 0.3s;
}
#enquiry {
    width: 100%;
    height: 35px;
    padding: 10px;
    border-radius: 5px;
    color: black;
    background: lightgray;
    border: none;
}
#enquiry:focus {
    border-color: #1D262E;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    transition: border-color 0.3s;
}
option {
    color: black;
}
#check-me {
    width: 20px;
    margin-left: 20px;
    margin-right: 10px;
    height: 15px;
    width: 15px;
}
#privacy-policy-link {
    color: #00BB31;
}
#privacy-policy-link:hover {
    color: black;
}
.submit-placement {
    text-align: center;
}
#submit-button {
    background: #1D262E;
    border: none;
    color: #00BB31;
    transition: color 0.4s ease-in-out;
}
#submit-button:hover {
    border: none;
    color: white;
}
input[type="text"]
{
    border: none;
    border-radius: 5px;
    background: lightgray;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
}
input[type="email"]
{
    border: none;
    border-radius: 5px;
    background: lightgray;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
}
input[type="tel"]
{
    border: none;
    border-radius: 5px;
    background: lightgray;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
}
input[type="checkbox"]
{
    border: none;
    border-radius: 5px;
    background: lightgray;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
}
.form-control:focus {
    border-color: #1D262E;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    transition: border-color 0.3s;
}

/* Placeholder Color CSS */
::-webkit-input-placeholder {
    color: black !important;
}
::-moz-placeholder {
    color: black !important;
}
:-ms-input-placeholder {
    color: black !important;
}
:-moz-placeholder {
    color: black !important;
}

/*--------------------------------
       09. Footer CSS Start
----------------------------------*/
.footer {
    color: #1D262E;
    font-size: 16px;
}
.row {
    display: flex;
    width: 100%;
}
.col-4 {
    flex: 1;
    z-index: 2;
}
.flex-mobile {
    display: none;
}
#footer-logo {
    width: 225px;
    position: relative;
    top: 28px;
    left: 30px;
}
.footer-ul {
    list-style-type: none;
    padding: 20px;
    position: relative;
    left: 110px;
}
.footer-li {
    padding-top: 7px;
    padding-bottom: 7px;
}
.footer-li strong {
    font-weight: bold;
}
.social-media {
    padding-left: 55px;
    font-size: 20px;
    color: #1D262E;
    display: flex;
    width: 100%;
    padding-bottom: 50px;
    z-index: 100;
}
.fa {
    padding-left: 15px;
    padding-right: 15px;
    transition: color 0.5s;
    color: #1D262E;
}
.fa:hover {
    color: #00BB31;
}
a {
    color: black;
}
a:hover {
    color: #00BB31;
}
.footer-ul-follow-us {
    list-style-type: none;
    padding: 40px;
    padding-top: 30px;
    padding-bottom: 7.5px;
    position: relative;
    left: 90px;
    width: 60%;
}
.footer-li {
    font-size: 16px;
}
.footer-bottom {
    display: flex;
}
.privacy-policy {
    position: relative;
    font-size: 10px;
    text-align: center;
    flex: 25%;
}
#copyright {
    font-size: 10px;
    text-align: center;
    flex: 50%;
}
.image-courtesy {
    position: relative;
    font-size: 10px;
    text-align: center;
    flex: 25%;
}
