/* CSS Document
Project Name: Chalo Germany Website
Version:  1.0
Author Name: Soumya Shaw, Sneha Chetani
main.css
*/

/*****=====***** TABLE OF CONTENT *****=====*****

01. GENERAL CSS
    => General CSS
02. Navigation Bar CSS
03. Home CSS
04. Contact Us CSS
05. Gallery CSS
06. Footer CSS
*/

/*----------------------
    01. General CSS
----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    background-color: white;
    position: relative;
}
/*Scroll Bar*/
::-webkit-scrollbar {
    display: none;
}
/* Common CSS */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    color: #111111;
    line-height: 1.2;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    letter-spacing: 0;
}
h4 {
    font-size: 16px;
}
a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a:focus,
a:hover {
    outline: none;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.heading {
    text-align: center;
    font-size: 40px;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 30px;
}



/*-------------------------------
    02. Navigation Bar CSS
-------------------------------*/
.top-nav {
    background-color: #24262b;
    height: 30px; 
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 10px;
    z-index: 1005;
}
.logo {
    background-color: #DD0000;
    display: flex;
    margin: auto;
    position: fixed;
    top: 30px;
    left: 0; 
    height: 70px;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
}
.चलोGermany-logo {
    height: 100%;
    width: auto;
    margin: auto;
    flex: 1
}
.empty-region {
    flex: 1;
}
.menu {
    position: relative;
    height: 100%;
    flex: 2;
}
.logo-img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    padding-left: 10px;
    display: block;
    transition: transform .3s;
}
.logo-img:hover {
    transform: scale(1.2);
}
.ul-nav {
    margin: 0;
    margin-right: 10px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.link a {
    display: block;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    transition: all 0.3s;
}
.link a:hover {
    transform:scale(1.1)
}
nav#dot-nav {
    position: fixed;
    right: 30px;
    margin: auto;
}
nav#dot-nav a {
    background: #00BB31;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    display: block;
    margin: 10px;
    -webkit-transition: all 0.4;
    transition: all 0.4; }
nav#dot-nav a.active {
    background: #1D262E;
    width: 9px;
    height: 9px;
}




/*--------------------------------
      03. Home CSS
----------------------------------*/
.home-area {
    height: 100vh;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
li {
    list-style-type: none;
}
div.bg {
    background-image: repeating-linear-gradient( 105deg, 
      var(--gold) 0% , 
      var(--dark-shadow) 5%,
      var(--gold) 12%);
    color: #ffb338;
    filter: drop-shadow(5px 15px 15px black);
    transform: scaleY(1.05);
    transform-origin: top;
    z-index: 5;
}
.cb-slideshow,
.cb-slideshow:after { 
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    filter: brightness(50%);
    animation: imageAnimation 54s linear infinite 0s; 
}
.cb-slideshow li div {
    z-index: 995;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 54s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-family: 'Young Serif', serif;
    font-size: 120px;
    padding: 0;
    line-height: 200px;
    color: #ffffff;
    margin-bottom: 0px;
}
.cb-slideshow li:nth-child(1) span { 
    background-image: url(../img/bg/img1.jpg);
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(../img/bg/img2.jpg);
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(../img/bg/img3.jpg);
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(../img/bg/img4.jpg);
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(../img/bg/img5.jpg);
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(../img/bg/img6.jpg);
    animation-delay: 30s; 
}
.cb-slideshow li:nth-child(7) span { 
    background-image: url(../img/bg/img7.jpg);
    animation-delay: 36s; 
}
.cb-slideshow li:nth-child(8) span { 
    background-image: url(../img/bg/img8.jpg);
    animation-delay: 42s; 
}
.cb-slideshow li:nth-child(9) span { 
    background-image: url(../img/bg/img9.jpg);
    animation-delay: 48s; 
}

.cb-slideshow li:nth-child(2) div { 
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) div { 
    animation-delay: 30s; 
}
.cb-slideshow li:nth-child(7) div { 
    animation-delay: 36s; 
}
.cb-slideshow li:nth-child(8) div { 
    animation-delay: 42s; 
}
.cb-slideshow li:nth-child(9) div { 
    animation-delay: 48s; 
}
@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	5% {
	    opacity: 1;
	    transform: scale(1.05);
	    animation-timing-function: ease-out;
	}
	11% {
	    opacity: 1;
	    transform: scale(1.1);
	}
	16% {
	    opacity: 0;
	    transform: scale(1.15);
	}
	100% { 
        opacity: 0;
        transform: scale(1.20);
    }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    5% { opacity: 1 }
    11% { opacity: 1 }
    16% { opacity: 0 }
    100% { opacity: 0 }
}

/*--------------------------------
     04. Contact Us CSS Start
----------------------------------*/
.contact-us-area{
    background: linear-gradient(#ffffff, #e4ebf5, #e4ebf5, #e4ebf5);
}
.contact-us-heading {
    font-size: 36px;
    font-family: 'Young Serif', serif;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(100deg, #605dba 20%, #3f78e0);
    -webkit-background-clip: text;
    background-clip: text;
}
.outer-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    pad: 20px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.inner-contact {
    flex: 1;
    padding-right: 30px;
}
:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --white: #fff;
    --greyLight-1: #e4ebf5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
}
.components {
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem #c8d0e7, -0.2rem -0.2rem 1.8rem #ffffff;
    padding: 30px;
    display: grid;
    align-items: center;
    width: fit-content;
    margin: auto;
}

/* CLOCK */
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
.clock {
    grid-column: 0.6666666667;
    grid-row: 0.3333333333;
    width: 12rem;
    height: 12rem;
    justify-self: center;
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.clock .hand {
    position: absolute;
    transform-origin: bottom;
    bottom: 6rem;
    border-radius: 0.2rem;
    z-index: 200;
}
.clock .hours {
    width: 0.4rem;
    height: 3.2rem;
    background: #bec8e4;
    animation: rotation 2600s infinite linear;
}
.clock .minutes {
    width: 0.4rem;
    height: 4.6rem;
    background: #9baacf;
    animation: rotation 260s infinite linear;
}
.clock .seconds {
    width: 0.2rem;
    height: 5.2rem;
    background: #6d5dfc;
    animation: rotation 6s infinite linear;
}
.clock .point {
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background: #6d5dfc;
    z-index: 300;
}
.clock .marker {
    width: 95%;
    height: 95%;
    border-radius: 50%;
    position: relative;
    box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #fff;
}
.clock .marker::after {
    content: '';
    width: 60%;
    height: 60%;
    position: absolute;
    box-shadow: inset 1px 1px 1px #c8d0e7, inset -1px -1px 1px #fff;
    border-radius: 50%;
    top: 20%;
    left: 20%;
    filter: blur(1px);
}
.clock .marker__1, .clock .marker__2, .clock .marker__3, .clock .marker__4 {
    position: absolute;
    border-radius: 0.1rem;
    box-shadow: inset 1px 1px 1px #c8d0e7, inset -1px -1px 1px #fff;
}
.clock .marker__1, .clock .marker__2 {
    width: 0.2rem;
    height: 0.6rem;
    left: 5.6rem;
}
.clock .marker__3, .clock .marker__4 {
    width: 0.6rem;
    height: 0.2rem;
    top: 5.6rem;
}
.clock .marker__1 {
    top: 2%;
}
.clock .marker__2 {
    top: 98%;
    transform: translateY(-0.6rem);
}
.clock .marker__3 {
    left: 2%;
}
.clock .marker__4 {
    left: 98%;
    transform: translateX(-0.6rem);
}

.form {
    border-radius: 10px;
}
.form-control {
    margin-left: 20px;
}
.form-group {
    display: flex;
}
iframe {
    border-radius: 15px;
    border: 1px solid;
    max-width: 900px;
    width: 100%;
    height: 300px;
}

.write {
    padding: 20px;
    margin-top: 30px;
    font-size: 25px;
    width: 300px;
    margin: auto;
    padding-right: 0px;
}
.mail {
    font-size: 20px;
    padding-top: 10px;
    text-align: left;
    position: relative;
    left: -13px;
    width: 100%;
}

/* Form CSS */
#phone {
    margin-left: 3px;
}
#inner-contact-right {
    border-left: 2px solid #24262b;
}
#description {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: black;
    background: lightgray;
}
#description:focus {
    border-color: #1D262E;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    transition: border-color 0.3s;
}
#german-level {
    width: 100%;
    height: 35px;
    padding: 10px;
    border-radius: 5px;
    color: black;
    background: lightgray;
    border: none;
}
#referral-code {
    width: 100%;
    height: 35px;
    padding: 10px;
    border-radius: 5px;
    color: black;
    background: lightgray;
    border: none;
}
#enquiry:focus {
    border-color: #1D262E;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    transition: border-color 0.3s;
}
option {
    color: black;
}
#check-me {
    width: 20px;
    margin-left: 20px;
    margin-right: 10px;
    height: 15px;
    width: 15px;
}
#check-me-label {
    color: #24262b;
}
#privacy-policy-link {
    color: #24262b;
}
#privacy-policy-link:hover {
    color: #24262b;
}
.submit-placement {
    text-align: center;
}
#submit-button {
    background: #24262b;
    border: none;
    color: #bbbbbb;
    transition: color 0.4s ease-in-out;
}
#submit-button:hover {
    border: none;
    color: white;
}
input[type="text"]
{
    border: none;
    border-radius: 5px;
    background: lightgray;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
}
input[type="email"]
{
    border: none;
    border-radius: 5px;
    background: lightgray;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
}
input[type="tel"]
{
    border: none;
    border-radius: 5px;
    background: lightgray;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
}
input[type="checkbox"]
{
    border: none;
    border-radius: 5px;
    background: lightgray;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
}
.form-control:focus {
    border-color: #1D262E;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    transition: border-color 0.3s;
}

/* Placeholder Color CSS */
::-webkit-input-placeholder {
    color: black !important;
}
::-moz-placeholder {
    color: black !important;
}
:-ms-input-placeholder {
    color: black !important;
}
:-moz-placeholder {
    color: black !important;
}

/* Screen Width Responsiveness */


/*--------------------------------
     05. Services CSS
----------------------------------*/
.services-area {
    margin-top: 50px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: #00BB31;
    background: linear-gradient(#e4ebf5, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #e4ebf5);
}

.services-heading h2{
    font-size: 36px;
    font-family: 'Young Serif', serif;
    padding: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(100deg, #605dba 20%, #3f78e0);
    -webkit-background-clip: text;
    background-clip: text;
}

.services-column{
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.services-container{
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    background-color: #ffffff;
    transition: 0.3s;
}

.services-container:hover{
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
}

.services-card{
    grid-column-gap: 20px;
    flex-direction: row;
    flex: 1;
    display: flex;
    background-color: #ffffff;
}

.number{
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(100deg, #605dba 20%, #3f78e0);
    -webkit-background-clip: text;
    background-clip: text;
}

.tab-inner h3{
    color: #000000;
    letter-spacing: -.01rem;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.4;
    text-align: left;
    cursor: pointer;
}

.tab-body{
    color: #60697b;
    box-sizing: border-box;
    display: block;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7;
}



/*--------------------------------
      06. Gallery CSS Start
----------------------------------*/
.gallery-section {
    padding: 30px;
    padding-bottom: 60px;
    background: linear-gradient(#e4ebf5, #fff, #fff, #fff, #fff, #fff, #fff, #e4ebf5);
}
.gallery-heading h2{
    font-size: 36px;
    font-family: 'Young Serif', serif;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(100deg, #605dba 20%, #3f78e0);
    -webkit-background-clip: text;
    background-clip: text;
}

.gallery {
    --g: 8px;   /* the gap */
    --s: 400px; /* the size */
    
    display: grid;
    border-radius: 50%;
  }
  .gallery > img {
    grid-area: 1/1;
    width: 400px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    transform: translate(var(--_x,0),var(--_y,0));
    cursor: pointer;
    z-index: 0;
    transition: .3s, z-index 0s .3s;
    margin: auto;
  }
  .gallery img:hover {
    --_i: 1;
    z-index: 1;
    transition: transform .2s, clip-path .3s .2s, z-index 0s;
  }
  .gallery:hover img {
    transform: translate(0,0);
  }
  .gallery > img:nth-child(1) {
    clip-path: polygon(50% 50%,calc(50%*var(--_i,0)) calc(120%*var(--_i,0)),0 calc(100%*var(--_i,0)),0 0,100% 0,100% calc(100%*var(--_i,0)),calc(100% - 50%*var(--_i,0)) calc(120%*var(--_i,0)));
    --_y: calc(-1*var(--g))
  }
  .gallery > img:nth-child(2) {
    clip-path: polygon(50% 50%,calc(100% - 120%*var(--_i,0)) calc(50%*var(--_i,0)),calc(100% - 100%*var(--_i,0)) 0,100% 0,100% 100%,calc(100% - 100%*var(--_i,0)) 100%,calc(100% - 120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
    --_x: var(--g)
  }
  .gallery > img:nth-child(3) {
    clip-path: polygon(50% 50%,calc(100% - 50%*var(--_i,0)) calc(100% - 120%*var(--_i,0)),100% calc(100% - 120%*var(--_i,0)),100% 100%,0 100%,0 calc(100% - 100%*var(--_i,0)),calc(50%*var(--_i,0)) calc(100% - 120%*var(--_i,0)));
    --_y: var(--g)
  }
  .gallery > img:nth-child(4) {
    clip-path: polygon(50% 50%,calc(120%*var(--_i,0)) calc(50%*var(--_i,0)),calc(100%*var(--_i,0)) 0,0 0,0 100%,calc(100%*var(--_i,0)) 100%,calc(120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
    --_x: calc(-1*var(--g))
  }





/*--------------------------------
       07. Footer CSS Start
----------------------------------*/

body{
    line-height: 1.5;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.footer-container{
    background-color: #24262b;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-col h4::before{
    content: '';
    position:absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 80px;
}
.footer-col-outer{
    /*width: 25%;*/
    padding-left: 60px;
    width: calc(25% - 50px);
}
.footer-title{
    font-size: 20px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}
#follow-us-title{
    text-align: center;
    margin-bottom: 25px;
}
#follow-us{
    padding-left: 40px;
}
#footer-content-4 {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
.footer-li li{
    margin-bottom: 7px;
}
.footer-li li a{
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
#talk-to-us{
    padding-left: 90px;
}
#quick-links-title::before{
    width: 100px;
}
#student-services-title::before{
    width: 148px;
}
#talk-to-us-title::before{
    width: 98px;
}
#follow-us-title::before{
    width: 85px;
    left: 54px;
}
#follow-us-title li a:hover{
    padding-left: 0px;
}
@media (max-width:500px)  { 
    .footer-col-outer {
        width: calc(100%);
        padding-left: 0px;
        padding-top: 30px;
        text-align: center;
    }
    #talk-to-us {
        padding-left: 0px;
        padding-top: 30px;
    }
    #follow-us {
        text-align: center;
        padding-top: 30px;
        padding-left: 0px;
    }
    #follow-us-title {
        text-align: center;
    }
    .footer-col h4::before {
        left: auto;
    }
    #follow-us-title::before {
        left: auto;
    }
}
@media (max-width: 900px) and (min-width: 500px)  { 
    .footer-col-outer {
        width: calc(50% - 50px);
    }
    #talk-to-us {
        padding-left: 60px;
        padding-top: 30px;
    }
    #follow-us {
        padding-left: 60px;
        padding-top: 30px;
    }
    #follow-us-title {
        text-align: left;
    }
    #follow-us-title::before {
        left: 0px;
    }
    #footer-content-4 {
        margin-left: -27px;
    }
}